<div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Especie</th>
        <th scope="col">Raza</th>
        <th scope="col">Nacimiento</th>
        <th scope="col">Tipo Identificación</th>
        <th scope="col"># Identificación</th>
        <th scope="col">Dueño</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Dirección</th>
        <th scope="col">Telefono</th>
        <th scope="col">Registro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pacientes of paciente">
        <td>{{pacientes.nmid}}</td>
        <td>{{pacientes.dsnombre }}</td>
        <td>{{pacientes.nmidespecie.dsnombre}}</td>
        <td>{{pacientes.nmidraza.dsnombre}}</td>
        <td>{{pacientes.fenacimiento}}</td>
        <td>{{pacientes.nmidtipoidentificacion.dsnombre}}</td>
        <td>{{pacientes.nmidentificacion}}</td>
        <td>{{pacientes.dsduenio}}</td>
        <td>{{pacientes.dsciudad}}</td>
        <td>{{pacientes.dsdireccion}}</td>
        <td>{{pacientes.nmtelefono}}</td>
        <td>{{pacientes.feregistro}}</td>
        <td>
          <button class="button" (click)="borrarPaciente(pacientes)"><i class="bi bi-trash-fill"></i></button>
          <button class="button" (click)="updatePaciente(pacientes)"><i class="bi bi-pencil-square"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
