<form class="row g-3 needs-validation" [formGroup]="crearpaciente" (ngSubmit)="crearPaciente()"> <!--(ngSubmit)="crearPaciente()" [formGroup=""] se usa para vincular con el formGroup del ts-->
  <div class="col-md-4">
    <label for="dsnombre" class="form-label">Nombre Paciente</label>
    <input type="text" class="form-control" id="dsnombre" formControlName="dsnombre">
    <div class="alert alert-danger mt-2" [hidden]="dsnombre.valid || dsnombre.pristine && dsnombre.untouched"> <!-- (dsnombre.dirty || dsnombre.touched)-->
      El nombre paciente es obligatorio
    </div>
  </div>
  <div class="col-md-4" formGroupName="nmidespecie">
    <label for="nmidespecie" class="form-label">Especie</label>
    <br>
    <select class="form-control" id="nmidespecie" formControlName="nmidespecie" [(ngModel)]="selectEspecies.nmidespecie" (change)="onSelectEspecies($event)"> <!--class="option" [(ngModel)]="selectRaza.nmidraza"-->
      <option *ngFor="let especie of especies" value={{especie.nmidespecie}}>{{especie.dsnombre}}</option>
    </select>
    <div class="alert alert-danger mt-2" [hidden]="nmidespecie.dirty || nmidespecie.untouched"> <!-- (dsnombre.dirty || dsnombre.touched)-->
      Elegir la especie es olbligatorio
    </div>

    <!-- <input type="number" class="form-control" id="nmidespecie" formControlName="nmidespecie" > -->
  </div>
  <div class="col-md-4" formGroupName="nmidraza">
    <label for="nmidraza" class="form-label">Raza</label>
    <br>
    <select class="form-control" id="nmidraza" formControlName="nmidraza"> <!--class="option" [(ngModel)]="selectRaza.nmidraza"-->
      <option class="form-option" id="nmidraza" *ngFor="let raza of raza" value={{raza.nmidraza}}>{{raza.dsnombre}}</option>
    </select>
    <div class="alert alert-danger mt-2" [hidden]="nmidraza.dirty || nmidraza.untouched"> <!-- (dsnombre.dirty || dsnombre.touched)-->
      Elegir la raza es olbligatorio
    </div>
    <!-- <input type="number" class="form-control" id="nmidraza" formControlName="nmidraza" > -->
  </div>
  <div class="col-md-4">
    <label for="fenacimiento" class="form-label">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="fenacimiento" formControlName="fenacimiento">
    <div class="alert alert-danger mt-2" [hidden]="fenacimiento.valid || fenacimiento.pristine && fenacimiento.untouched"> <!-- (dsnombre.dirty || dsnombre.touched)-->
      La fecha de nacimiento es obligatoria
    </div>
  </div>

  <div class="col-md-4" formGroupName="nmidpersona">
    <label for="nmidpersona" class="form-label">Dueño</label>
    <br>
    <select class="form-control" id="nmidpersona" formControlName="nmidpersona">
      <option *ngFor="let persona of personas" value={{persona.nmidpersona}}>{{persona.dsnombre}} {{persona.dsapellido}}</option>
    </select>
    <div class="alert alert-danger mt-2" [hidden]="nmidpersona.dirty || nmidpersona.untouched"> <!-- (dsnombre.dirty || dsnombre.touched)-->
      Elegir la persona es olbligatorio
    </div>
  </div>

  <div class="col-md-4">
    <label for="feregistro" class="form-label">Fecha de registro</label>
    <input type="date" class="form-control" id="feregistro" formControlName="feregistro" >
    <div class="alert alert-danger mt-2" [hidden]="feregistro.valid || feregistro.pristine && feregistro.untouched"> <!-- (dsnombre.dirty || dsnombre.touched)-->
      La fecha de registro es obligatoria
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit" [disabled]="crearpaciente.invalid">Crear</button>

    <button class="btn btn-primary" type="button" (click)="volver()">Regresar</button>
  </div>
</form>
