<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="btn">
      <i class="bi bi-patch-plus" (click)="crearPaciente()"></i>
    </button>
    <!-- <a class="navbar-brand" href="crearPaciente">Crear Paciente</a> -->
    <button class="btn">
      <i class="bi bi-person-add" (click)="crearPersona()"></i>
    </button>
    <button class="btn">
      <i class="bi bi-file-earmark-arrow-down" (click)="exportPacientes()"></i>
      <!-- <a class="navbar-brand" >Descargar Pacientes</a> -->
    </button>
    <button class="btn">
      <i class="bi bi-box-arrow-in-right"(click)="logout()"></i>
      <!-- <a class="navbar-brand">Logout</a> -->
    </button>

  </div>
</nav>
<div>
  <app-pacientes></app-pacientes>
</div>


<!-- <p *ngIf="!userLoginOn">Usuario NO autenticado</p>
<p *ngIf="userLoginOn">Usuario autenticado</p>
<div *ngIf="userLoginOn">
  <p>Nombre: {{userData?.dsnombre}}</p>
  <p>Apellido: {{userData?.email}}</p>
  <p>Email: {{userData?.email}}</p>
</div>
<div>
  <app-pacientes></app-pacientes>
</div>
 -->
