<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="crearPaciente">Crear Paciente</a>
    <a class="navbar-brand" href="crearPersona">Crear Persona</a>
  </div>
</nav>
<div>
  <app-pacientes></app-pacientes>
</div>


<!-- <p *ngIf="!userLoginOn">Usuario NO autenticado</p>
<p *ngIf="userLoginOn">Usuario autenticado</p>
<div *ngIf="userLoginOn">
  <p>Nombre: {{userData?.dsnombre}}</p>
  <p>Apellido: {{userData?.email}}</p>
  <p>Email: {{userData?.email}}</p>
</div>
<div>
  <app-pacientes></app-pacientes>
</div>
 -->
