<form class="row g-3 needs-validation" [formGroup]="updatepaciente" (ngSubmit)="updatePaciente()"> <!--(ngSubmit)="crearPaciente()" [formGroup=""] se usa para vincular con el formGroup del ts-->
  <div class="col-md-4">
    <label for="dsnombre" class="form-label">Nombre Paciente</label>
    <input type="text" class="form-control" id="ngModel"formControlName="dsnombre">
  </div>
  <div class="col-md-4" formGroupName="nmidespecie">
    <label for="nmidespecie" class="form-label">Especie</label>
    <br>
    <select class="form-control" id="nmidespecie" formControlName="nmidespecie"> <!--class="option" [(ngModel)]="selectRaza.nmidraza"-->
      <option *ngFor="let especie of especies" value={{especie.nmidespecie}}>{{especie.dsnombre}}</option>
    </select>

    <!-- <input type="number" class="form-control" id="nmidespecie" formControlName="nmidespecie" > -->
  </div>
  <div class="col-md-4" formGroupName="nmidraza">
    <label for="nmidraza" class="form-label">Raza</label>
    <br>
    <select class="form-control" id="nmidraza" formControlName="nmidraza"> <!--class="option" [(ngModel)]="selectRaza.nmidraza"-->
      <option class="form-option" id="nmidraza" *ngFor="let raza of razas" value={{raza.nmidraza}}>{{raza.dsnombre}}</option>
    </select>
    <!-- <input type="number" class="form-control" id="nmidraza" formControlName="nmidraza" > -->
  </div>
  <div class="col-md-4">
    <label for="fenacimiento" class="form-label">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="fenacimiento" formControlName="fenacimiento" >
  </div>
  <div class="col-md-4" formGroupName="nmidpersona">
    <label for="nmidpersona" class="form-label">Dueño</label>
    <br>
    <select class="form-control" id="nmidpersona" formControlName="nmidpersona"> <!--class="option" [(ngModel)]="selectRaza.nmidraza"-->
      <option *ngFor="let persona of personas" value={{persona.nmidpersona}}>{{persona.dsnombre}} {{persona.dsapellido}}</option>
    </select>
    <!-- <input type="number" class="form-control" id="nmidtipoidentificacion" formControlName="nmidtipoidentificacion" > -->
  </div>
  <div class="col-md-4">
    <label for="feregistro" class="form-label">Fecha de registro</label>
    <input type="date" class="form-control" id="feregistro" formControlName="feregistro" >
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Actualizar</button>

    <button class="btn btn-primary" type="button" (click)="volver()">Regresar</button>
  </div>
</form>
